appnope==0.1.0
ccm==2.1.3
cql==1.4.0
decorator==4.0.9
Flask==0.10.1
gnureadline==6.3.3
gunicorn==19.4.5
ipython==4.1.2
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.6
psutil==4.1.0
ptyprocess==0.5.1
PyYAML==3.11
simplegeneric==0.8.1
six==1.10.0
subprocess32==3.2.7
thrift==0.9.3
traitlets==4.2.1
vboxapi==1.0
virtualenv==15.0.1
Werkzeug==0.11.5
wordsegment==0.6.2
